<html>

<head>
  <link rel="stylesheet" href="style.less">
</head>

<body class="noisy">

  <div id="pong">
    <div v-for="(score, index) in scores" :key="`score-${index}`" :id="`score-player-${index + 1}`" class="score">{{ score }}</div>
    <div ref="pongContainer"></div>

    <div class="splash" v-if="!isPlaying">
      <h1>Welcome to Pong</h1>
      <p></p>
      <p v-show="arePlayersConnected">Press &lt;spacebar&gt; to play</p>
      <p v-show="!arePlayersConnected">Waiting for players to connect...</p>
      <p></p>
      <div>
        <span class="player-indicator" v-bind:class="{connected: playerIds[0]}">Player 1</span>
        <span class="player-indicator" v-bind:class="{connected: playerIds[1]}">Player 2</span>
      </div>
    </div>
  </div>

  <!-- <div class="piece output"></div> -->
  <div class="piece scanlines noclick"></div>
  <div class="piece glow noclick"></div>

  <script src="components/app.js"></script>
</body>

</html>